@import "global";
@import "vars";

//start header
.header {
    margin-bottom: 100px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    z-index: 4;
    &::after {
        position: absolute;
        content: "";
        background-color: rgba(17, 37, 55, .969);
        top: 0;
        right: 50%;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    &-logo {
        margin-left: 120px;
        background-image: url(../images/header/header_logo.png);
        width: 98px;
        height: 29px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-phone a {
        color: #252525;
        padding-left: 20px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons/phone-receiver.png);
            width: 12px;
            height: 15px;
            left: 0;
            top: 6px;
        }
    }
    &-icon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-mobile {
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: relative;
        &::before,
        &::after {
            content:"";
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fff;
            position: absolute;
            left: 0;
            top: -10px;
            transition: transform .2s ease-in, top .2s linear .2s;
        }
        &::after {
            top: 10px;
            transition: transform .2s ease-in, top .2s linear .2s;
        }
    }
}
.header__menu-mobile.active {
    background-color: transparent;
}
.header__menu-mobile.active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s;
}
.header__menu-mobile.active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s;
}
.header__main {
    position: relative;
    padding-bottom: 50px;
    &::after {
        position: absolute;
        content: "";
        background-color: rgba(17, 37, 55, .969);
        top: 0;
        right: 50%;
        height: 100%;
        width: 100%;
    }
    &-images img {
        height: 595px;
        width: 1170px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-content {
        max-width: 375px;
        position: absolute;
        left: 90px;
        top: 170px;
        z-index: 4;
    }
    &-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        left: 65px;
        color: #fff;
        margin-bottom: 20px;
    }
    &-text {
        color: #fff;
        font-size: 20px;
        margin-bottom: 35px;
    }
    &-btn {
        display: inline-block;
        background-color: transparent;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px 27px;
        border: 1px solid #fff;
        transition: all .5s;
        &:hover {
            background-color: $orange;
        }
        & a {
            color: #fff;
        }
        & img {
            margin-left: 35px;
        }
    }
    &-social {
        position: relative;
        z-index: 4;
        margin-top: 40px;
        & li {
            display: inline-block;
            & + li {
                margin-left: 25px;
            }
        }
    }
}
.header__menu-content {
    background-color:#112537;
    height: 595px;
    padding-top: 135px;
    padding-bottom: 135px;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
}
.header__menu-list a {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color:#918e8b;
    transition: all .5s;
    &:hover {
        color: $orange;
    }
}
.header__menu-list li + li {
    margin-top: 35px;
}
//end header

//start about
.about {
    margin-bottom: 100px;
}
.about__items {
    display: flex;
    justify-content: space-between;
}
.about__item {
    max-width: 255px;
    margin: 20px;
    &:nth-child(even) {
        margin-top: 220px;
    }
    &-number {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        color: $pink;
        font-size: 85px;
        line-height: 95px;
        margin-bottom: 20px;
    }
    &-title {
        color: #1a292f;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    &-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        color: $about;
    }
}
//end about

//start portfolio
.portfolio {
    margin-bottom: 100px;
}
.portfolio__title {
    margin-bottom: 50px;
}
.portfolio__inner {
    &-item {
        min-height: 552px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: all .5s;
        cursor: pointer;
    }
    &-content {
        transition: all .5s;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(24, 44, 61, .8);
    }
    &-name {
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        top: 32px;
        left: 22px;
        max-width: 160px;
    }
    &-theme {
        color: #fff;
        font-weight: 300;
        position: absolute;
        bottom: 75px;
        left: -22px;
        transform: rotate(-90deg);
    }
    &-details {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.slick-slide.slick-current {
    .portfolio__inner-content {
        opacity: 0;
    }
    .portfolio__inner-details {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.slider-btn {
    position: absolute;
    content: "";
    background-image: url(../images/icons/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -60px;
    width: 28px;
    height: 21px;
    z-index: 4;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.slider-btn.slick-prev {
    right: 60px;
    transform: rotate(180deg);
}
.slider-btn.slick-next {
    right: 0;
}
.portfolio__inner-item:hover .portfolio__inner-content {
    opacity: 0;
}
.portfolio__inner-item:hover .portfolio__inner-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

//end portfolio

//start services
.services {
    margin-bottom: 100px;
}
.services__title {
    margin-bottom: 50px;
}
.services__inner {
    display: flex;
    justify-content: space-between;
    &-tabs {
        max-width: 215px;
    }
    &-tabs div {
        color: $service;
        font-weight: 300;
        font-size: 18px;
        & + div {
            margin-top: 75px;
        }
    }
    &-images img {
        width: 878px;
        height: 390px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 50px;
    }
    &-description {
        display: flex;
        justify-content: space-between;
    }
    &-text {
        max-width: 550px;
        & .services__inner-btn {
            display: none;
        }
    }
    &-title {
        color: $title;
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    &-details {
        font-size: 18px;
        line-height: 30px;
        color: $text;
        font-weight: 300;
    }
    &-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    &-number {
        color: #182c3d;
        font-size: 18px;
        line-height: 30px;
        flex: 1 0 auto;
        transition: all .5s;
        &:hover {
            color: $orange;
        }
    }
    &-btn a {
        padding: 20px 35px 15px 40px;
        border: 2px solid #112537;
        color: $title;
        font-weight: 900;
        text-transform: uppercase;
        transition: all .5s;
        &:hover {
            background-color: $orange;
            border-color: #fff;
            color: #fff;
        }
    }
}
.tab-item {
    max-width: 878px;
    display: none;
}
.tab-item.active-tab {
    display: block;
}
.tab.active {
    color: $title;
    font-weight: 600;
}
//end services

//start details
.details {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 50px;
    }
}
.details__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item {
        max-width: 360px;
        width: 100%;
        padding-left: 65px;
        position: relative;
        margin-right: 45px;
        margin-bottom: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:nth-child(3n + 3) {
            margin-right: 0;
        }
        &::before {
            content:"1";
            position: absolute;
            background-color: $pink;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            top: 0;
            left: 0;
            text-align: center;
            line-height: 22px;
            font-weight: 500;
            font-size: 12px;
            color: $title;
        }
    }
    &-title {
        color: #313131;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 22px;
        &::before {
            position: absolute;
            content: "";
            width: 40px;
            height: 1px;
            background-color: $title;
            left: 0;
            bottom: 0;
        }
    }
    &-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: $text;
    }
}
.details__inner-item--tech::before {
    content:"2";
}
.details__inner-item--plan::before {
    content:"3";
}
.details__inner-item--concept::before {
    content:"4";
}
.details__inner-item--visual::before {
    content:"5";
}   
.details__inner-item--complect::before {
    content:"6";
}
//end details

//start contacts
.contacts {
    overflow: hidden;
    margin-bottom: 100px;
}
.contacts__info {
    &-box {
        padding: 60px 0px 45px;
        position: relative;
        z-index: 4;
        &::after {
            position: absolute;
            content: "";
            background-color: #182c3d;
            top: 0;
            right: 50%;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
    }
    &-inner {
        max-width: 480px;
    }
    &-title {
        color: #fff;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &-text {
        color: #fff;
        margin-bottom: 25px;
        & a {
            color: #fff;
            transition: all .5s;
            &:hover {
                color: #918e8b;
            }
        }
    }
    &-form {
        width: 100%;
        label {
            position: relative;
            display: block;
            width: 100%;
            &:after {
                position: absolute;
                content:"";
                background-image: url(../images/icons/user.png);
                width: 18px;
                height: 20px;
                right: 0;
                top: 15px;
            }
        }
        .contacts__label-phone::after {
            background-image: url(../images/icons/phone.png);
            width: 20px;
            height: 20px;
        }
        .contacts__label-mail::after {
            background-image: url(../images/icons/mail.png);
            width: 22px;
            height: 16px;
        }
        input {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 300;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid #918e8b;
            margin-bottom: 30px;
            color: #fff;
            padding-right: 35px;
            &::placeholder {
                color: #918e8b;
            }
        }
        button {
            border: 2px solid #fff;
            border-radius: 8px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 15px;
            padding-top: 25px;
            padding-bottom: 25px;
            width: 100%;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            transition: all .5s;
            margin-bottom: 20px;
            &:hover {
                background-color: #fff;
                color: #182c3d;
            }
        }
    }
    &-images {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 683px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
    }
}
//end contacts

//start clients
.clients {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 100px;
    }
}
.clients__inner {
    &-item {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    &-content {
        display: none;
        max-width: 450px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
    }
    &-name {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: #313131;
        margin-bottom: 10px;
    }
    &-subject {
        color: $orange;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 25px;
    }
    &-text {
        color: $text;
        font-weight: 300;
        line-height: 25px;
        font-size: 16px;
    }
    &-images img {
        width: 215px;
        height: 192px;
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
    }
    &-images {
        position: relative;
        z-index: 1;   
        transition: all .5s; 
    }
    &-cover {
        transition: all .5s; 
        position: absolute;
        width: 215px;
        height: 192px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:  rgba(17, 37, 55, .7);
        z-index: 4;
    }
}
.slick-track {
    min-height: 315px;
}
.slick-dots {
    text-align: center;
    li {
        display: inline-block;
        & + li {
            margin-left: 12px;
        }
        &.slick-active {
            button {
                background-color: #1a444a;
            }
        }
    }
    button {
        border: none;
        outline: none;
        font-size: 0;
        width: 26px;
        height: 3px;
        background-color: #cdd3cf;
    }
}
.slick-slide.slick-current {
    .clients__inner-cover {
        opacity: 0;
    }
    .clients__inner-content {
        display: block;
        width: 100%;        
    }
}
//end clients

//start footer
.footer {
    background-color: #182c3d;
    padding-top: 70px;
    padding-bottom: 80px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-copy {
            color: $orange;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            padding-right: 42px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 14px;
                height: 14px;
                background-image: url(../images/icons/copyright.png);
                top: 7px;
                right: 0;
            }
        }
        &-logo {
            max-width: 150px;
            text-align: center;
        }
        &-images {
            margin-bottom: 35px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &-links li {
            display: inline-block;
            & + li {
                margin-left: 45px;
            }
        }
        &-design {
            color: $orange;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
        }
    }
}
//end footer

@import "media";